---

---

<li
  class="inline-flex rounded-3xl [&:not(:first-child):not(:last-child)]:rounded-l-md first:rounded-bl-md last:rounded-tl-md border border-border bg-[#EBEBEF] dark:bg-[#27282D] py-2 px-4 w-fit max-w-full md:max-w-[400px]"
>
  <p>
    <slot />
  </p>
</li>
