---
import classNames from "classnames";
interface Props {
  clickable?: boolean;
  className?: string;
}

const { clickable = false, className = "" } = Astro.props;
---

<li
  class={classNames(
    "inline-flex flex-col shadow-sm text-sm rounded-3xl [&:not(:first-of-type):not(:last-of-type)]:rounded-l-md first-of-type:rounded-bl-md last-of-type:rounded-tl-md border border-border dark:from-[#1B1B1F] bg-gradient-to-br dark:to-[#27282D] from-[#F2F2F5] to-[#F9F9FB] py-2 px-3.5 w-fit max-w-full md:max-w-[400px]",
    clickable && "cursor-pointer transition-transform hover:translate-x-1",
    className,
  )}
>
  <slot />
</li>
