---
import classNames from "classnames";

interface Props {
  className?: string;
}

const { className = "" } = Astro.props;

const time = new Date().toLocaleTimeString([], {
  hour: "2-digit",
  minute: "2-digit",
});
---

<div class={classNames("flex items-center gap-x-1", className)}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-checks dark:text-blue-500 text-blue-400"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    stroke-width="1.75"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M7 12l5 5l10 -10"></path>
    <path d="M2 12l5 5m5 -5l5 -5"></path>
  </svg>
  <p class="text-sm text-secondary">Seen</p>
</div>
