---
import Group from "./chat/Group.astro";
import Message from "./chat/Message.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<>
  <Group>
    <Message>Some recent projects I’ve worked on:</Message>
    {
      allPosts.map((post) => (
        <Message>
          <h1 class="underline font-medium mb-1">{post.frontmatter.title}</h1>
          <p>{post.frontmatter.description}</p>
        </Message>
      ))
    }
  </Group>
</>
