---
import Layout from "./Layout.astro";
import Group from "../components/chat/Group.astro";
import Message from "../components/chat/Message.astro";

const {
  frontmatter: { title, pubDate },
} = Astro.props;

const formattedDate = new Date(pubDate).toLocaleDateString([], {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout title={title}>
  <main
    class="flex flex-col w-full h-full justify-center items-center p-8 py-32"
  >
    <div class="w-fit">
      <h2 class="text-secondary text-sm mb-4 ml-9">{formattedDate}</h2>
      <Group>
        <Message className="!max-w-[800px]">
          <h1 class="underline font-medium">{title}</h1>
        </Message>
        <Message className="!max-w-[800px]">
          <article class="prose dark:prose-invert">
            <slot />
          </article>
        </Message>
        <Message clickable href="/">
          <span class="underline font-medium">Go back</span>
        </Message>
      </Group>
    </div>
  </main>
</Layout>

<style is:global>
  article pre > code {
    @apply grid !py-2 !px-3;
  }
  article pre {
    @apply !bg-background !rounded-md border border-border !p-0 overflow-x-hidden;
  }

  article pre > code span[data-line] {
    @apply border-l-2 border-transparent px-1 -mx-3;
  }

  article pre > code span[data-highlighted-line] {
    @apply border-blue-500 bg-blue-400 dark:bg-blue-300 bg-opacity-10 dark:bg-opacity-10;
  }

  article pre > code[data-line-numbers] {
    counter-reset: line;
  }

  article pre > code[data-line-numbers] > span::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    text-align: left;
    @apply text-secondary mx-1;
  }

  article pre > code > span::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    text-align: right;
  }

  article pre > code[data-line-numbers-max-digits="2"] > span::before {
    width: 1rem;
  }

  article code[data-line-numbers-max-digits="3"] > span::before {
    width: 2rem;
  }
</style>
