---
import Themes from "astro-themes";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Francesco Violante's personal portfolio"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
    {/** @link https://github.com/alex-grover/astro-themes */}
    <Themes />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --background: #FCFCFD;
    --text: #1D2024;
    --border: #DDDDE2;
    --secondary: #61646B;
  }

  html {
    background-color: var(--background);
    color: var(--text);
  }

  [data-theme="dark"] {
    --background: #18181A;
    --text: #EDEEF0;
    --border: #35373C;
    --secondary: #AEB1B7;
  }
</style>
